.menu {
    margin: 25px;
    color: white;
  }

  .logo {
    height: 50px;
    color: white;
  }


  body {
    background-image: url("assets/bgcat.jpg");



    height: 100%;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  


  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: #1b987f;
    color: #ffffff;
    box-shadow: 0px 4px 10px #888888;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    cursor: pointer;
  }

  .btn :hover {
    background-color: #45a049;
  }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 6px #888888;
  }

